*, *::after, *::before { box-sizing: inherit; }
html { box-sizing: border-box; background-color: rgb(245, 245, 245); color: rgb(51, 51, 51); font-family: "Helvetica Neue",Tahoma,Arial,PingFangSC-Regular,"Hiragino Sans GB","Microsoft Yahei",sans-serif; line-height: 1.2; -moz-user-select: none; touch-action: manipulation; -moz-text-size-adjust: none; }
body, button, dd, dl, ol, ul { margin: 0px; padding: 0px; }
a { outline: 0px none; color: inherit; text-decoration: none; }
a, img {  }
button, input, select, textarea { outline: 0px none; border: medium none; font-size: inherit; font-family: inherit; }
h1, h2, h3, h4, h5, h6, p { margin: 0px; font-weight: 400; }
img { max-width: 100%; }
.HongbaoList-extra_jOln1_-::after, .HongbaoList-extra_jOln1_-::before { position: absolute; top: -1.46667vw; z-index: 10; display: block; width: 1.46667vw; height: 2.93333vw; background: rgb(244, 244, 244) none repeat scroll 0% 0%; content: ""; }
.HongbaoList-extra_jOln1_-::before { left: -0.266667vw; border-right: 1px solid rgb(221, 221, 221); border-top-right-radius: 1.46667vw; border-bottom-right-radius: 1.46667vw; }
.HongbaoList-extra_jOln1_-::after { right: -0.266667vw; border-left: 1px solid rgb(221, 221, 221); border-top-left-radius: 1.46667vw; border-bottom-left-radius: 1.46667vw; }
.HongbaoMain-amount_36f1onr span:nth-child(2) { font-weight: 700; font-size: 0.746667rem; }
.HongbaoMain-amount_36f1onr span:nth-child(3) { font-weight: 700; font-size: 0.533333rem; }
button { margin: 0px; padding: 0px; }
button, input { outline: 0px none; border: medium none; font-size: inherit; font-family: inherit; }
.index-premium_39rl0v9::after { display: block; position: absolute; left: 0px; top: 0px; z-index: 1; content: attr(content); padding: 0.533333vw 1.33333vw; color: rgb(111, 63, 21); font-weight: 700; font-size: 0.586667rem; border-radius: 1.06667vw; background-image: linear-gradient(-139deg, rgb(255, 241, 0), rgb(255, 227, 57)); white-space: nowrap; transform: scale(0.5); transform-origin: 0px 0px 0px; }
.index-moneylimit_2fCq9W5 span + span::before { margin: 0px 0.8vw; color: rgb(221, 221, 221); content: "|"; }
.index-moneylimit_2fCq9W5 span:nth-of-type(2) { overflow: hidden; max-width: 26.6667vw; text-overflow: ellipsis; white-space: nowrap; }
.index-supportWrap_2lTcxr2 > li::after { display: flex; -moz-box-pack: center; justify-content: center; -moz-box-align: center; align-items: center; position: absolute; left: 0px; top: 0px; z-index: 1; font-size: 0.533333rem; color: rgb(153, 153, 153); content: attr(content); border-radius: 0.266667vw; width: 6.93333vw; height: 6.93333vw; line-height: normal; border: 1px solid rgb(221, 221, 221); transform: scale(0.5); transform-origin: 0px 0px 0px; }
.index-timedistanceWrap_2Dp_kzY span:first-child::after { margin: 0px 0.8vw; color: rgb(221, 221, 221); content: "|"; }
.index-activityList_1wvwwUY > div:not(:first-child) { margin-top: 0.666667vw; }
.logo-statusTipText_1Dx4kZS_0::after { content: attr(content); position: absolute; width: 100%; left: 0px; top: 0px; z-index: 1; font-size: 0.48rem; color: rgb(255, 255, 255); padding: 0.266667vw 0px; white-space: nowrap; transform: scale(0.5); transform-origin: 0px 0px 0px; }
.delivery-icon-delivery_2nSP7AC_0::after, .delivery-icon-hollow_3q8_B5r_0::after { position: absolute; left: 0px; top: 0px; z-index: 1; white-space: nowrap; content: attr(content); font-size: 0.533333rem; padding: 0px 0.533333vw; border-radius: 0.8vw; transform: scale(0.5); transform-origin: 0px 0px 0px; }
.delivery-icon-delivery_2nSP7AC_0::after { color: rgb(0, 151, 255); border: 1px solid rgb(0, 151, 255); }
.delivery-icon-hollow_3q8_B5r_0::after { color: rgb(255, 255, 255); border: 1px solid rgb(0, 151, 255); background-image: linear-gradient(45deg, rgb(0, 133, 255), rgb(0, 170, 255)); }
.Popup-mask_2vJ_ko7 { position: fixed; top: 0px; left: 0px; display: flex; -moz-box-pack: center; justify-content: center; width: 100vw; height: 100vh; transition-property: opacity; }
.Popup-wrapper_2IImAZj { position: relative; transition-property: transform, -webkit-transform; }
.Popup-center-wrapper_29jr-9C { margin-top: -20%; }
.Dialogue-wrapper_1c-lP67 { overflow: hidden; padding: 5.33333vw 4vw; width: 85.3333vw; border-radius: 1.06667vw; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.MessageDialog-box_3zL04f3 input::placeholder { color: rgb(204, 204, 204); }
.MessageToast-wrapper_1b8l3iQ { position: fixed; bottom: 25.6vw; left: 50%; z-index: 9999; padding: 2.66667vw 5.33333vw; border-radius: 5.33333vw; background: rgba(0, 0, 0, 0.6) none repeat scroll 0% 0%; color: rgb(255, 255, 255); font-size: 0.32rem; line-height: 1.2; transition: opacity 0.5s ease 0s; transform: translateX(-50%); pointer-events: none; }
/* ::::: https://shadow.elemecdn.com/faas/h5/login/login.27b48eb.css ::::: */

.App-1EAON { width: 100%; height: 100%; }
.App-3Q8Qb { width: 300px; display: flex; -moz-box-orient: vertical; -moz-box-direction: normal; flex-direction: column; -moz-box-pack: center; justify-content: center; margin: 0px auto; }
.App-3Q8Qb > div:last-child { min-height: 296px; }
.App-OjtAb { -moz-box-pack: center; justify-content: center; position: relative; width: 100%; background: rgb(245, 245, 245) none repeat scroll 0% 0%; }
.App-1EAON, .App-OjtAb { display: flex; -moz-box-orient: vertical; -moz-box-direction: normal; flex-direction: column; }
.App-1EAON { -moz-box-align: center; align-items: center; }
.App-1EAON > div:first-child { -moz-box-flex: 1; flex: 1 1 auto; }
.App-1EAON > div:first-child + div { -moz-box-flex: 0; flex: 0 0 104px; }
@media (max-width: 768px) {
  .App-1EAON { height: auto; min-height: 100%; padding-top: 40px; }
  .App-3Q8Qb { -moz-box-pack: start; justify-content: flex-start; }
  .App-OjtAb { background: rgb(255, 255, 255) none repeat scroll 0% 0%; -moz-box-pack: justify; justify-content: space-between; }
}
body, html { width: 100%; height: 100%; font-size: 12px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.MessageLogin-31EIr { display: none; margin-top: 20px; text-align: center; color: rgb(153, 153, 153); }
@media (max-width: 768px) {
  .MessageLogin-31EIr { display: block; }
}
.MessageLogin-FsPlX { position: relative; margin-top: 16px; height: 48px; font-size: 14px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.MessageLogin-FsPlX > * { display: inline-block; position: absolute; top: 50%; right: 10px; transform: translateY(-50%); }
.MessageLogin-FsPlX > input { width: 100%; height: 100%; left: 0px; padding-left: 10px; border: 1px solid rgb(221, 221, 221); border-radius: 4px; color: rgb(51, 51, 51); }
.MessageLogin-FsPlX > input::placeholder { color: rgb(153, 153, 153); }
.MessageLogin-FsPlX > input:focus { border-color: rgb(0, 137, 220); }
.MessageLogin-15xD9 { margin-top: 12px; color: rgb(153, 153, 153); font-size: 14px; line-height: 20px; }
.MessageLogin-15xD9 a { color: rgb(35, 149, 255); }
.CountButton-3e-kd { padding: 0px; border-radius: 6px; color: rgb(35, 149, 255); background: transparent none repeat scroll 0% 0%; text-align: center; font-size: 14px; }
.CountButton-3e-kd[disabled] { color: rgb(204, 204, 204); }
.SubmitButton-2wG4T { display: block; width: 100%; height: 42px; margin-top: 30px; border-radius: 4px; background: rgb(76, 217, 111) none repeat scroll 0% 0%; color: rgb(255, 255, 255); cursor: pointer; text-align: center; font-size: 16px; line-height: 42px; }
.SubmitButton-2wG4T:focus, .SubmitButton-2wG4T:hover { background: rgb(76, 217, 100) none repeat scroll 0% 0%; }
.SubmitButton-2wG4T:disabled { background: rgb(204, 204, 204) none repeat scroll 0% 0%; }
@media (max-width: 768px) {
  .form-Kr7wg { display: block; }
}
.form-b6px1 > input::placeholder { color: rgb(153, 153, 153); }
.LoginFooter-UxQIr_0 { display: flex; -moz-box-pack: center; justify-content: center; -moz-box-align: center; align-items: center; }
.LoginFooter-2KaAB_0 { color: rgb(153, 153, 153); line-height: 18px; text-align: center; }
.LoginFooter-2KaAB_0 > h2 { font-size: 12px; color: rgb(85, 85, 85); }
.LoginFooter-2KaAB_0 > .LoginFooter-1QHDG_0 { display: inline-block; margin-top: 12px; }
.LoginFooter-3s25U_0::after { content: "|"; padding: 0px 4px; }
@media (max-width: 768px) {
  .LoginFooter-2KaAB_0 { display: none; }
}
.LoginHeader-1jXn6_0 { text-align: center; }
.LoginHeader-1jXn6_0 > svg { width: 140px; height: 56px; }
.LoginHeader-22Up7_0 { margin-top: 40px; }
.LoginHeader-22Up7_0 > a { font-size: 14px; padding-bottom: 4px; cursor: pointer; }
.LoginHeader-22Up7_0 > a:first-child { margin-right: 40px; }
.LoginHeader-22Up7_0 > a.LoginHeader-33EiC_0 { color: rgb(35, 149, 255); font-weight: 700; border-bottom: 2px solid rgb(35, 149, 255); }
