[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide { display: none !important; }
/* ::::: https://shadow.elemecdn.com/faas/desktop/vendor.162d72.css ::::: */

.addressformfield > input::-moz-placeholder, .addressformfield > input[type="text"]::-moz-placeholder { color: rgb(187, 187, 187); font-size: 12px; }
.addressformfield > input::placeholder, .addressformfield > input[type="text"]::placeholder { color: rgb(187, 187, 187); font-size: 12px; }
.addressformfield-hint .icon-dot-error::before { margin-right: 3px; vertical-align: middle; }
.addressformfield-hint .icon-dot-warning::before { color: rgb(101, 192, 75); margin-right: 3px; vertical-align: middle; }
.addressblock-buttons::after { content: ""; display: table; clear: both; }
.dialog { position: fixed; background-color: rgb(255, 255, 255); padding: 30px 40px; }
.dialog-close { position: absolute; top: 10px; right: 10px; padding: 8px; cursor: pointer; color: rgb(204, 204, 204); font-size: 12px; }
.pagination { border: 1px solid transparent; overflow: hidden; padding: 5px; margin-bottom: 10px; -moz-user-select: none; }
.pagination > ul { font-size: 0px; float: right; margin-right: 10px; }
.pagination li { display: inline-block; width: 25px; height: 24px; line-height: 24px; font-size: 12px; text-align: center; vertical-align: middle; border: 1px solid rgb(238, 238, 238); margin-left: 4px; cursor: pointer; }
.pagination li.current { background-color: rgb(0, 137, 220); color: rgb(255, 255, 255); border: 0px none; padding: 1px; cursor: default; }
.pagination li.more { border: medium none; padding: 1px; cursor: default; }
.pagination li.next-btn, .pagination li.prev-btn { position: relative; }
.pagination li.next-btn::before, .pagination li.prev-btn::before { content: ""; display: block; position: absolute; left: 50%; top: 50%; margin-top: -5px; width: 0px; height: 0px; border: 5px solid; }
.pagination li.prev-btn::before { margin-left: -8px; border-color: transparent rgb(135, 135, 135) transparent transparent; }
.pagination li.next-btn::before { margin-left: -2px; border-color: transparent transparent transparent rgb(135, 135, 135); }
html { color: rgb(51, 51, 51); background: rgb(255, 255, 255) none repeat scroll 0% 0%; text-rendering: optimizelegibility; box-sizing: border-box; }
*, *::after, *::before { box-sizing: inherit; }
article, aside, blockquote, body, button, code, dd, details, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul { margin: 0px; padding: 0px; }
article, aside, details, figcaption, figure, footer, header, iframe, menu, nav, section { display: block; }
body, button, input, select, textarea { font: 400 1em/1.5 PingFang SC,Lantinghei SC,Helvetica Neue,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans; }
button, input { line-height: normal; }
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0px; border: 0px none; }
fieldset, img { border: 0px none; }
@media only screen and (max-width: 640px) {
  blockquote { margin: 1em 0px; }
}
address, caption, cite, code, dfn, em, th, var { font-style: normal; font-weight: 400; }
ol, ul { list-style: outside none none; }
q::after, q::before { content: ""; }
a { color: rgb(0, 137, 220); }
a.inherit { color: inherit; }
a, ins { text-decoration: none; }
.typo-small, figcaption, small { font-size: 0.9em; color: rgb(136, 136, 136); }
.clearfix::after { content: ""; display: table; height: 0px; clear: both; }
.serif { font-family: Palatino,Optima,Georgia,serif; }
h1, h2, h3, h4, h5, h6 { font-family: PingFang SC,Lantinghei SC,Helvetica Neue,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans; font-weight: 400; }
@font-face {
  font-family: "eleme";  font-style: normal;  font-weight: 400;  src: local("☺︎"), url('../fonts/eleme.a61c32.woff') format("woff"), url('../fonts/eleme.8e5aeb.ttf') format("truetype"), url('../fonts/eleme.94ccdd.svg') format("svg");}
[class*=" icon-"], [class^="icon-"] { font-family: eleme; font-style: normal; font-weight: 400; font-feature-settings: normal; font-variant: normal; text-transform: none; line-height: 1; }
.icon-email::before { content: ""; }
.icon-android::before { content: ""; }
.icon-angle-double-right::before { content: ""; }
.icon-apple::before { content: ""; }
.icon-arrow-down::before { content: ""; }
.icon-arrow-right::before { content: ""; }
.icon-arrow-up::before { content: ""; }
.icon-cart-add::before { content: ""; }
.icon-cart::before { content: ""; }
.icon-chat-message::before { content: ""; }
.icon-chat::before { content: ""; }
.icon-check::before { content: ""; }
.icon-circle-check::before { content: ""; }
.icon-circle-help::before { content: ""; }
.icon-circle::before { content: ""; }
.icon-close::before { content: ""; }
.icon-crown::before { content: ""; }
.icon-dot-check::before { content: ""; }
.icon-dot-error::before { content: ""; }
.icon-dot-help::before { content: ""; }
.icon-dot-warning::before { content: ""; }
.icon-dot-wraning::before { content: ""; }
.icon-dot::before { content: ""; }
.icon-email2::before { content: ""; }
.icon-favor::before { content: ""; }
.icon-favorite::before { content: ""; }
.icon-feedback::before { content: ""; }
.icon-figure::before { content: ""; }
.icon-file-text::before { content: ""; }
.icon-gift::before { content: ""; }
.icon-grid::before { content: ""; }
.icon-help::before { content: ""; }
.icon-history::before { content: ""; }
.icon-line-home::before { content: ""; }
.icon-line-message::before { content: ""; }
.icon-line-order::before { content: ""; }
.icon-line-profile::before { content: ""; }
.icon-list::before { content: ""; }
.icon-location-line::before { content: ""; }
.icon-location-line2::before { content: ""; }
.icon-location::before { content: ""; }
.icon-lock-24::before { content: ""; }
.icon-logo-map::before { content: ""; }
.icon-logo-text::before { content: ""; }
.icon-logo::before { content: ""; }
.icon-logout::before { content: ""; }
.icon-mobile::before { content: ""; }
.icon-notice::before { content: ""; }
.icon-order-arrive::before { content: ""; }
.icon-order-arrivedone::before { content: ""; }
.icon-order-complaint::before { content: ""; }
.icon-order-confirm::before { content: ""; }
.icon-order-confirmdone::before { content: ""; }
.icon-order-distribution::before { content: ""; }
.icon-order-distributiondone::before { content: ""; }
.icon-order-favor::before { content: ""; }
.icon-order-pay::before { content: ""; }
.icon-order-paydone::before { content: ""; }
.icon-order-submit::before { content: ""; }
.icon-order-submitdone::before { content: ""; }
.icon-order::before { content: ""; }
.icon-phone::before { content: ""; }
.icon-plus::before { content: ""; }
.icon-preference::before { content: ""; }
.icon-primitive-dot::before { content: ""; }
.icon-profile-email::before { content: ""; }
.icon-profile-left-arrow::before { content: ""; }
.icon-profile-phone::before { content: ""; }
.icon-profile-right-arrow::before { content: ""; }
.icon-profile::before { content: ""; }
.icon-QR-code::before { content: ""; }
.icon-qrcode::before { content: ""; }
.icon-search::before { content: ""; }
.icon-service::before { content: ""; }
.icon-setting::before { content: ""; }
.icon-star-bad::before { content: ""; }
.icon-star-good::before { content: ""; }
.icon-star-nofeel::before { content: ""; }
.icon-star-rate::before { content: ""; }
.icon-star::before { content: ""; }
.icon-top::before { content: ""; }
.icon-trash::before { content: ""; }
.icon-unfavorite::before { content: ""; }
.icon-uniE01D::before { content: ""; }
.icon-uniE01E::before { content: ""; }
.icon-uniE02C::before { content: ""; }
.icon-uniE02D::before { content: ""; }
.icon-uniE02E::before { content: ""; }
.icon-uniE003::before { content: ""; }
.icon-uniE03A::before { content: ""; }
.icon-uniE03C::before { content: ""; }
.icon-uniE03D::before { content: ""; }
.icon-uniE03F::before { content: ""; }
.icon-uniE024::before { content: ""; }
.icon-uniE025::before { content: ""; }
.icon-uniE029::before { content: ""; }
.icon-uniE037::before { content: ""; }
.icon-uniE039::before { content: ""; }
.icon-uniE65D::before { content: ""; }
.icon-uniE65E::before { content: ""; }
.icon-uniE600::before { content: ""; }
.icon-uniE664::before { content: ""; }
.icon-uniE668::before { content: ""; }
.icon-user::before { content: ""; }
.icon-visit-history::before { content: ""; }
.icon-wechat::before { content: ""; }
.icon-weibo::before { content: ""; }
.icon-wrench::before { content: ""; }
.icon-yen::before { content: ""; }
body { background: rgb(247, 247, 247) none repeat scroll 0% 0%; padding-right: 35px; }
body.hidesidebar { padding-right: 0px; }
.container { font-size: 14px; width: 960px; margin: 0px auto; }
@media (min-width: 1260px) {
  .container, body.hidesidebar .container { width: 1180px; }
  body.smallbody .container { width: 960px; }
}
.color-stress { color: rgb(247, 67, 66); }
.color-mute { color: rgb(153, 153, 153); }
.ui-ellipsis { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
[class*=" btn-"], [class^="btn-"] { display: inline-block; padding: 8px 17px; line-height: 1; border: medium none; border-radius: 2px; outline: 0px none; cursor: pointer; font-size: 14px; text-align: center; }
.btn-primary { background-color: rgb(0, 137, 220); color: rgb(255, 255, 255); }
.btn-primary:hover { background-color: rgb(0, 116, 183); }
.dropbox { color: rgb(153, 153, 153); position: absolute; background: rgba(255, 255, 255, 0.98) none repeat scroll 0% 0%; padding: 4px 6px; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5); z-index: 6; }
.dropbox::before { content: " "; border: 5px solid rgb(255, 255, 255); display: block; position: absolute; top: -10px; }
.dropbox.dropbox-bottom::before { top: auto; bottom: -10px; }
:root .dropbox {  }
.fetchtakeout-rules::after, .fetchtakeout-rules::before { content: ""; position: absolute; left: 15px; top: 5px; display: block; height: 7px; width: 40px; background-color: rgb(204, 204, 204); }
.fetchtakeout-rules::after { left: auto; right: 15px; }
.footer-contect-item [class^="icon-"]:hover, .footer-contect-item > a:hover { text-decoration: none; }
.footer { background-color: rgb(247, 247, 247); margin-top: 50px; border-top: 1px solid rgb(238, 238, 238); }
.footer-contect, .footer-link, .footer-mobile { float: left; width: 15%; margin-top: 30px; }
.footer-mobile { float: right; }
.footer-link-title { font-size: 14px; line-height: 30px; }
.footer-contect-item, .footer-link-item { color: rgb(153, 153, 153); display: block; line-height: 24px; }
.footer-link-item { width: 50%; font-size: 12px; }
.footer-contect { padding-left: 3%; border-left: 1px solid rgb(230, 230, 230); width: 23%; padding-right: 10px; }
.footer-contect-icon::before { float: left; width: 30px; height: 30px; color: rgb(102, 102, 102); font-size: 28px; }
.footer-contect-item { margin-bottom: 12px; color: rgb(102, 102, 102); font-size: 14px; }
.footer-contect-item [class^="icon-"] { cursor: pointer; position: relative; margin-left: 10px; display: inline-block; }
.footer-contect-item [class^="icon-"]::before { font-size: 24px; color: rgb(204, 204, 204); vertical-align: middle; }
.footer-contect-item .icon-wechat { margin-left: 5px; }
.footer-contect-item .icon-wechat .dropbox { display: none; }
.footer-contect-item .icon-wechat:hover::before { color: rgb(119, 209, 117); }
.footer-contect-item .icon-wechat:hover .dropbox { display: block; }
.footer-contect-item .icon-weibo:hover::before { color: rgb(251, 84, 95); }
.footer-contect-item .icon-renren:hover::before { color: rgb(71, 169, 247); }
.footer-contect-dropbox { bottom: 30px; left: -60px; text-align: center; }
.footer-contect-dropbox img { width: 130px; height: 130px; }
.footer-contect-dropbox::before { left: 65px; border-color: rgb(255, 255, 255) transparent transparent; z-index: 2; }
.footer-contect-dropbox::after { content: ""; position: absolute; left: 65px; bottom: -11px; border-width: 5px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(204, 204, 204) transparent transparent; z-index: 1; }
.footer-mobile { width: 265px; }
.footer-mobile-icon { width: 90px; height: 90px; margin-right: 20px; float: left; }
.footer-mobile-content { margin-top: 20px; margin-left: 90px; }
.footer-mobile-content h3 { font-size: 16px; color: rgb(51, 51, 51); font-weight: 700; line-height: 30px; }
.footer-mobile-content p { font-size: 12px; color: rgb(102, 102, 102); margin: 3px 0px 10px; }
.footer-copyright { font-size: 12px; clear: both; padding-top: 60px; color: rgb(153, 153, 153); text-align: center; }
.footer-copyright a { color: inherit; }
.footer-copyright a:hover { color: rgb(51, 51, 51); text-decoration: underline; }
.footer-copyright .owner { color: rgb(14, 14, 14); }
.footer-police { padding: 0.5em 0px; text-align: center; }
.formfield > input::-moz-placeholder { color: rgb(187, 187, 187); font-size: 12px; }
.formfield > input::placeholder { color: rgb(187, 187, 187); font-size: 12px; }
.formfield-hint .icon-dot-error::before { margin-right: 3px; vertical-align: middle; }
.formfield-hint .icon-dot-warning::before { color: rgb(101, 192, 75); margin-right: 3px; vertical-align: middle; }
.loading, .loading img { vertical-align: middle; }
.loading { font-size: 14px; color: rgb(153, 153, 153); line-height: 150px; text-align: center; }
.loading img { margin-top: -2px; margin-right: 10px; width: 86px; }
.location > span .icon-arrow-right::before { margin: 19px 5px 0px; float: left; color: rgb(153, 153, 153); font-size: 16px; }
.location-dropbox::before { display: none; }
@media not all, all and (min-resolution: 2dppx) {
  .nodata-container { background-image: url('nodata-2x.18ccdf.png'); background-size: 85px auto; }
}
.starrating span::before, .starrating::before { content: ""; }
.starrating { position: relative; display: inline-block; line-height: 1em; color: rgb(204, 204, 204); }
.starrating span { position: absolute; top: 0px; left: 0px; overflow: hidden; color: rgb(255, 195, 12); white-space: nowrap; }
.rate-content::after, .rate-content::before { position: absolute; left: 20px; content: ""; border: 10px solid; }
.rate-content::before { top: -18px; border-color: transparent transparent rgb(247, 247, 247); z-index: 2; }
.rate-content::after { top: -20px; border-color: transparent transparent rgb(238, 238, 238); z-index: 1; }
.rate-content.simple::before, .rate-content.text::before { border-bottom-color: rgb(255, 255, 255); }
@media (min-width: 1260px) {
  .rstblock { width: 25%; }
}
.sidebarcart-garnish .sidebarcart-name::before { margin-right: 4px; font-size: 12px; line-height: 1.2; text-align: center; content: "浇"; background: rgb(49, 153, 232) none repeat scroll 0% 0%; color: rgb(255, 255, 255); border-radius: 2px; display: inline-block; width: 15px; height: 15px; }
.sidebar { position: fixed; top: 0px; bottom: 0px; right: -295px; background-color: rgb(80, 77, 83); width: 330px; transition: transform 0.3s ease-in-out 0s, -webkit-transform 0.3s ease-in-out 0s; z-index: 7; }
.toolbar-btn, .toolbar-cartbtn { position: relative; display: block; cursor: pointer; text-align: center; }
.sidebar-tabs { float: left; width: 35px; height: 100%; }
.toolbar-btn { width: 35px; line-height: 35px; color: rgb(204, 204, 204); margin: 5px 0px; }
.toolbar-btn::before { font-size: 20px; }
.toolbar-btn.focus, .toolbar-btn:focus, .toolbar-btn:hover { color: rgb(255, 255, 255); background-color: rgb(38, 162, 255); outline: 0px none; }
.toolbar-btn.focus .toolbar-tabs-dropbox, .toolbar-btn:focus .toolbar-tabs-dropbox, .toolbar-btn:hover .toolbar-tabs-dropbox { display: block; }
.toolbar-btn.focus .toolbar-tabs-dropbox::before, .toolbar-btn:focus .toolbar-tabs-dropbox::before, .toolbar-btn:hover .toolbar-tabs-dropbox::before { border-color: rgb(38, 162, 255) rgb(38, 162, 255) rgb(38, 162, 255) rgb(255, 255, 255); }
.toolbar-btn.focus::before, .toolbar-btn:focus::before, .toolbar-btn:hover::before { color: rgb(255, 255, 255); }
.toolbar-separator { font-size: 1px; border-top: 1px solid rgb(115, 112, 116); height: 0px; margin: 0px 8px; }
.toolbar-cartbtn { color: rgb(204, 204, 204); line-height: 16px; padding: 7px 8px 10px; margin-bottom: 8px; margin-top: 8px; font-size: 14px; font-weight: 700; }
.toolbar-cartbtn::before { font-size: 20px; margin-bottom: 5px; display: block; font-weight: 400; }
.toolbar-cartbtn.focus, .toolbar-cartbtn:focus, .toolbar-cartbtn:hover { color: rgb(255, 255, 255); outline: 0px none; background-color: rgb(38, 162, 255); }
.toolbar-cartbtn.focus::before, .toolbar-cartbtn:focus::before, .toolbar-cartbtn:hover::before { color: rgb(255, 255, 255); }
.toolbar-cartnum, .toolbar-cartnum::after { left: 0px; right: 0px; margin: auto; position: absolute; }
.toolbar-cartnum::after { border-width: 6px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(255, 102, 51) transparent transparent; width: 0px; height: 0px; bottom: -11px; content: ""; }
.sidebar-content { margin-left: 35px; height: 100%; width: 295px; overflow: auto; background-color: rgb(230, 230, 230); }
.toolbar-tabs-middle { position: absolute; width: 35px; top: 50%; margin-top: -220px; }
.toolbar-tabs-bottom { bottom: 10px; position: absolute; }
.sidebar-btn-backtop, .toolbar-tabs-bottom .icon-QR-code { position: relative; }
.toolbar-tabs-dropbox { right: 35px; top: -150px; line-height: 24px; display: none; z-index: 9; }
.toolbar-tabs-dropbox::before { right: -10px; top: 165px; border-color: rgb(100, 96, 105) rgb(100, 96, 105) rgb(100, 96, 105) rgb(255, 255, 255); }
.toolbar-tabs-dropbox img { width: 130px; height: 130px; }
.toolbar-tabs-dropbox .icon-QR-code-bonus { padding: 5px; color: rgb(255, 102, 51); font-size: 12px; }
@media (max-height: 520px) {
  .toolbar-btn { display: none; }
  .sidebar-btn-backtop { display: block; }
  .toolbar-cartbtn { margin-top: 90px; }
}
.topbar { display: block; line-height: 60px; background-color: rgb(30, 137, 224); }
.shoptopbar { position: absolute; width: 100%; line-height: 48px; background-color: rgba(0, 0, 0, 0.4); color: rgb(255, 255, 255); }
.shoptopbar .topbar-nav { color: rgb(204, 204, 204); }
.shoptopbar .topbar-item:hover { background-color: rgba(0, 0, 0, 0.1); }
.shoptopbar .topbar-logo { width: 90px; }
.shoptopbar .topbar-logo::before { font-size: 28px; }
.topbar-item, .topbar-logo, .topbar-nav-link { float: left; }
.topbar-logo { width: 105px; margin-right: 30px; line-height: inherit; }
.topbar-logo span { display: block; height: 0px; overflow: hidden; text-indent: -900em; }
.topbar-logo::before { color: rgb(255, 255, 255); font-size: 32px; vertical-align: top; }
.topbar-item { font-size: 16px; position: relative; color: rgb(255, 255, 255); width: 104px; text-align: center; }
.topbar-item.cooperation { display: none; }
.topbar-item:hover { background: rgb(12, 119, 209) none repeat scroll 0% 0%; }
.topbar-item:active, .topbar-item:focus { background: rgb(0, 107, 199) none repeat scroll 0% 0%; outline: 0px none; }
.topbar-item.topbar-homepage { width: 112px !important; }
@media (min-width: 1260px) {
  .topbar-item { width: 134px; }
  .topbar-item.cooperation { display: block; }
  .topbar-item .elemeicon-hot { right: 10px; }
}
.topbar-nav { float: right; width: 400px; color: rgb(210, 231, 249); }
.topbar-nav-link { padding: 0px 10px; width: 106px; color: inherit; position: relative; cursor: pointer; text-align: center; }
.topbar-nav-link:last-child { margin-right: 20px; }
.topbar-nav-link.focus, .topbar-nav-link:active, .topbar-nav-link:focus, .topbar-nav-link:hover { color: rgb(255, 255, 255); }
.topbar-nav-link .topbar-mobile-dropbox { top: 100%; margin-top: -5px; cursor: auto; display: none; width: 200px; left: 7px; line-height: 40px; color: rgb(51, 51, 51); font-size: 16px; font-weight: 700; padding: 3px 10px; }
.topbar-nav-link .topbar-mobile-dropbox::before { border-color: transparent transparent rgb(255, 255, 255); right: auto; left: 9px; }
.topbar-nav-link:hover .topbar-mobile-dropbox { display: block; }
.topbar-nav-icon::before { margin-right: 5px; display: inline-block; vertical-align: middle; font-size: 22px; }
.topbar-nav-qrcode { width: 100%; }
.topbar-profilebox { float: right; color: rgb(255, 255, 255); }
.topbar-profilebox > span > a { color: rgb(255, 255, 255); }
.topbar-profilebox-avatar { display: inline-block; height: 26px; width: 26px; font-size: 22px; vertical-align: middle; border-radius: 50%; }
.topbar-profilebox-username { display: inline-block; font-size: 14px; width: 80px; max-width: 100px; overflow: hidden; text-overflow: ellipsis; vertical-align: top; white-space: nowrap; }
:root .topbar-profilebox-username { width: auto; }
.topbar-profilebox-wrapper { display: inline-block; position: relative; cursor: default; }
.topbar-profilebox-wrapper:hover .topbar-profilebox-dropbox { display: block; }
.shoptopbar .topbar-profilebox-btn { color: rgb(204, 204, 204); background-color: rgba(0, 0, 0, 0.1); }
.topbar-profilebox-btn { position: relative; color: rgb(213, 239, 255); margin-left: 8px; margin-right: 3px; cursor: pointer; background: rgb(68, 155, 229) none repeat scroll 0% 0%; border-radius: 3px; text-align: center; font-size: 20px; vertical-align: middle; }
.topbar-profilebox-dropbox { width: 122px; top: 100%; right: 0px; margin-top: -8px; display: none; }
.topbar-profilebox-dropbox::before { border-color: transparent transparent rgb(255, 255, 255); right: 8px; }
.topbar-profilebox-dropbox a { display: block; line-height: 32px; padding: 0px 15px; color: rgb(102, 102, 102); }
.topbar-profilebox-dropbox a::before { position: relative; top: 1px; left: -3px; color: rgb(153, 153, 153); }
.topbar-profilebox-dropbox a.icon-logout { border-top: 1px solid rgb(238, 238, 238); }
.topbar-profilebox-dropbox a:hover { background: rgb(241, 241, 241) none repeat scroll 0% 0%; }
/* ::::: https://shadow.elemecdn.com/faas/desktop/main.378acb.css ::::: */

@media not all, (min-resolution: 2dppx) {
  .checkout-address.active { background-image: url('checked-corner-2x.52233a.png'); background-size: 34px auto; }
}
.checkoutguide-item, .checkoutguide-item::before { display: inline-block; text-align: center; font-size: 12px; }
.checkoutguide-text::before { content: ""; border-left: 1px solid rgb(156, 201, 238); height: 25px; display: inline-block; margin-right: 14px; }
.checkoutguide-content.step1 .checkoutguide-line::after { width: 80px; }
.checkoutguide-content.step2 .checkoutguide-line::after { width: 250px; }
.checkoutguide-content.step3 .checkoutguide-line::after { width: 100%; }
.checkoutguide-line::after { content: ""; position: absolute; left: 0px; height: 3px; background: rgb(254, 242, 47) none repeat scroll 0% 0%; }
.checkoutguide-item.active::before { background-color: rgb(254, 242, 47); }
.checkoutguide-item::before { content: counter(number, decimal); margin: 0px 40px 8px; width: 22px; line-height: 22px; border-radius: 50%; background-color: rgb(165, 208, 243); color: rgb(0, 137, 220); font-weight: 700; }
@media not all, (min-resolution: 2dppx) {
  .checkout-pay.active { background-image: url('checked-corner-2x.52233a.png'); background-size: 34px auto; }
}
@media (min-width: 1260px) {
  .checkout-pay { height: auto; }
}
@media not all, (min-resolution: 2dppx) {
  .pay-way li { background-image: url('payway-2x.de8960.jpg'); background-size: 176px auto; }
}
.pay-way li.active::after { position: absolute; content: ""; right: 0px; bottom: 0px; background: rgba(0, 0, 0, 0) url('payway.082e2f.jpg') no-repeat scroll 0px -496px; width: 17px; height: 17px; }
@media not all, (min-resolution: 2dppx) {
  .pay-way li.active::after { background-image: url('payway-2x.de8960.jpg'); background-size: 176px auto; }
}
@media (min-width: 1260px) {
  .ordersuccess.pay-header { padding: 70px 80px 70px 106px; }
}
@media (min-width: 1260px) {
  .excavator-sticky .excavator-bgbar { width: 1180px; }
  .excavator-sticky .excavator-bgbar .excavator-option-item + .excavator-option-item { margin-left: 10px; }
  .excavator-sticky .excavator-bgbar .excavator-sort-item { padding: 0px 10px; }
  .excavator-sticky .excavator-bgbar .place-search input { width: 260px; }
}
.place-search [for="globalsearch"], .searchbox { display: none; }
.place-search { float: right; margin: 10px 0px; height: 32px; border: 1px solid rgb(204, 204, 204); background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: relative; z-index: 3; }
.place-search-btn, .place-search-input { padding: 0px 8px; margin: 4px 0px; line-height: 24px; }
.place-search-input { width: 236px; border: 0px none; outline: 0px none; transition: width 0.3s ease-in-out 0s; }
.place-search-input:focus { width: 306px; }
.place-search-btn { float: right; width: 46px; text-align: center; color: rgb(153, 153, 153); font-size: 20px; cursor: pointer; border: medium none; outline: 0px none; background-color: transparent; }
.place-search-btn:hover { color: rgb(0, 137, 220); }
.searchbox-list::before { content: ""; font-size: 14px; color: rgb(102, 102, 102); position: absolute; left: 8px; top: 6px; }
.searchbox-list.show-separator ul::after { content: ""; position: absolute; left: 5px; right: 5px; bottom: 5px; border-top: 1px solid rgb(236, 236, 236); height: 0px; }
.searchbox-list.searchbox-foodlist::before { content: "美食"; }
.searchbox-list.searchbox-rstlist::before { content: "商家"; }
@media (min-width: 1260px) {
  .activity-carousel, .activity-carousel .carousel-block { height: 98px; }
}
.place-premiumrstbox::after, .place-rstbox::after { content: ""; position: absolute; width: 100%; bottom: 0px; background: rgb(230, 230, 230) none repeat scroll 0% 0%; height: 1px; font-size: 1px; }
.place-premiumrstbox > .viewmore > span.icon-arrow-right::before { font-size: 20px; display: block; float: right; color: rgb(204, 204, 204); }
.search-starrating span::before, .search-starrating::before { content: ""; }
.search-rstbox::after { content: ""; position: absolute; width: 100%; bottom: 0px; background: rgb(230, 230, 230) none repeat scroll 0% 0%; height: 1px; font-size: 1px; }
.commentitem-reply::after { content: ""; position: absolute; bottom: 100%; left: 20px; width: 0px; height: 0px; border-width: 7px; border-style: solid; border-color: transparent transparent rgb(247, 247, 247); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.shopbulletin-section { margin-bottom: 20px; border-radius: 2px 2px 0px 0px; background-color: rgb(255, 255, 255); box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12); }
.shopbulletin-section-title { padding: 0px 1em; line-height: 2.8em; background-color: rgb(0, 137, 220); color: rgb(255, 255, 255); }
.shopbulletin-content { padding: 10px 15px; line-height: 2; }
.shopbulletin-supports { padding: 0px 15px; overflow: hidden; }
.shopbulletin-supports li { margin: 10px 0px; padding-left: 30px; }
.shopbulletin-supports span { display: inline-block; margin-left: -30px; width: 22px; height: 22px; line-height: 22px; text-align: center; border-radius: 50%; font-size: 12px; color: rgb(255, 255, 255); }
.shopbulletin-delivery { padding: 10px 15px; background-color: rgb(245, 245, 245); }
.shopbulletin-delivery h4 { font-weight: 700; }
.shopcomplaint { display: block; line-height: 3; text-align: center; font-size: 18px; color: rgb(102, 102, 102); border-top: 1px solid rgb(238, 238, 238); }
.shopcomplaint-textarea { border: 1px solid rgb(204, 204, 204); outline: 0px none; margin-top: 10px; padding: 10px; }
.shopcomplaint-textarea:focus { border-color: rgb(0, 137, 220); }
.shop-cart { z-index: 102; position: fixed; right: 0px; bottom: 0px; width: 320px; height: 46px; font-size: 14px; }
.shop-cartbasket-empty { color: rgb(153, 153, 153); text-align: center; }
.shop-cartbasket-empty .icon-cart { color: rgb(221, 221, 221); font-size: 42px; margin: 40px 0px 20px; }
.shop-cartbasket-empty p { font-size: 14px; margin-bottom: 40px; }
.shop-cartbasket { z-index: 1; position: absolute; top: 0px; width: 100%; background-color: rgb(255, 255, 255); box-shadow: 0px 1px 15px rgb(204, 204, 204); }
.shop-cartfooter-text, .shop-carticon { display: inline-block; vertical-align: middle; }
.shop-cartfooter { z-index: 2; position: relative; cursor: pointer; height: 46px; line-height: 46px; background-color: rgb(44, 44, 44); box-shadow: 0px 1px 3px rgb(44, 44, 44); }
.shop-carticon { position: relative; width: 40px; text-align: center; color: rgb(255, 255, 255); font-size: 20px; }
.shop-cartfooter-text { color: rgb(255, 255, 255); }
.shop-cartfooter-text.price::before { content: "¥"; font-size: 14px; }
.shop-cartfooter-text.extras { position: relative; font-size: 12px; margin-left: 2px; padding-left: 6px; color: rgb(153, 153, 153); border-left: 1px solid rgb(85, 85, 85); line-height: 1; }
.shop-cartfooter-checkout { position: absolute; top: 0px; bottom: 0px; right: 0px; border: 0px none; outline: 0px none; width: 120px; text-align: center; background-color: rgb(81, 216, 98); font-weight: 700; color: rgb(255, 255, 255); cursor: pointer; }
.shop-cartfooter-checkout.disabled { background-color: rgb(228, 228, 228); color: rgb(51, 51, 51); cursor: default; }
.shop-flyitem { position: fixed; z-index: 9999; border-radius: 50%; width: 20px; height: 20px; background-color: rgb(0, 137, 220); }
.shop-carthelper-opener { position: absolute; right: 0px; bottom: 10px; width: 111px; height: 107px; background: rgba(0, 0, 0, 0) url('../images/carthelper-opener.fa28f4.png') no-repeat scroll 0% 0%; cursor: pointer; transition: all 0.3s ease-in-out 0s, visibility 0.3s ease-in-out 0s; visibility: hidden; }
.shop-cartbutton, .shop-cartctrl { display: inline-block; position: absolute; right: 10px; bottom: 10px; border: 0px none; cursor: pointer; width: 90px; height: 26px; line-height: 26px; border-radius: 20px; text-align: center; outline: 0px none; }
.shop-cartbutton { display: inline-block; background-color: rgb(0, 137, 220); color: rgb(255, 255, 255); }
.shop-carthelper { position: absolute; bottom: 10px; right: 100%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin-right: 8px; width: 260px; height: 280px; box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1); overflow: hidden; will-change: transform; opacity: 0; visibility: hidden; transform: scale(0); transform-origin: right bottom 0px; transition: transform 0.3s ease-in-out 0s, visibility 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s, -webkit-transform 0.3s ease-in-out 0s; }
.shopcarhelper-title { background-color: rgb(0, 137, 220); padding: 0px 10px; line-height: 34px; color: rgb(255, 255, 255); font-size: 12px; }
.shopcarhelper-title span { font-size: 1.1em; }
.shopcarhelper-title em { color: rgb(156, 201, 238); }
.shopcarhelper-title a { float: right; color: rgb(255, 255, 255); }
.shopcarthelper-container { height: 250px; padding: 0px 10px; overflow-y: auto; }
.shop-grouphead { padding: 12px 10px; height: 45px; position: relative; font-size: 14px; border-bottom: 1px solid rgb(238, 238, 238); }
.shop-grouphead .shop-groupguidetip { position: absolute; top: -20px; right: 8px; padding: 4px 6px; background-color: rgb(255, 107, 0); color: rgb(255, 255, 255); font-size: 12px; vertical-align: bottom; border-radius: 2px; }
.shop-grouphead .shop-groupguidetip .icon-close { position: relative; top: 1px; color: rgb(255, 255, 255); padding-left: 8px; cursor: pointer; }
.shop-grouphead .shop-groupguidetip .icon-close:hover { opacity: 0.8; }
.shop-grouphead .shop-groupguidetip::after { content: ""; width: 0px; height: 0px; border-width: 5px; border-style: solid; border-color: rgb(255, 107, 0) transparent transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; position: absolute; bottom: -10px; right: 7px; }
.shop-grouphead .icon-cart-add { position: absolute; top: 12px; right: 10px; width: 20px; height: 20px; font-size: 20px; color: rgb(0, 137, 220); cursor: pointer; }
.shop-grouphead .shop-grouphead-row { height: 30px; }
.shop-grouphead.single { background-color: rgb(250, 250, 250); border-top: 2px solid rgb(0, 137, 220); }
.shopguide-info h1, .shopguide-tip { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.shopguide { background: rgba(0, 0, 0, 0) url('../images/shop-bg.0391dd.jpg') no-repeat scroll 0% 0% / cover ; padding-top: 48px; }
.shopguide .container { position: relative; display: table; height: 142px; }
.shopguide-info { position: relative; display: table-cell; vertical-align: middle; color: rgb(255, 255, 255); z-index: 1; }
.shopguide-info h1, .shopguide-info-wrapper, .shopguide-tip { display: inline-block; vertical-align: middle; }
.shopguide-info h1 { font-size: 20px; max-width: 270px; }
.shopguide-info > img { margin-right: 15px; width: 95px; height: 95px; border-radius: 50%; border: 4px solid rgba(255, 255, 255, 0.3); vertical-align: middle; }
.shopguide-info:hover .shopguide-info-extra { max-height: 900px; opacity: 1; }
.shopguide-info-rate { margin: 10px 0px; }
.shopguide-info-rate a { color: rgb(255, 255, 255); }
:root .shopguide-info-extra { background: rgba(255, 255, 255, 0.1) none repeat scroll 0% 0%; }
.shopguide-info-extra { position: absolute; top: 0px; left: 0px; z-index: -1; padding-top: 142px; width: 100%; max-height: 0px; overflow: hidden; box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); opacity: 0; transition: opacity 0.1s ease-in-out 0s, max-height 0.4s ease-in-out 0s; }
.shopguide-info-extra > ul { padding: 0px 20px; background-color: rgb(255, 255, 255); color: rgb(51, 51, 51); }
.shopguide-extra-item { padding: 15px 0px; border-top: 1px dashed rgb(238, 238, 238); color: rgb(102, 102, 102); }
.shopguide-extra-item:first-child { border-top: medium none; }
.shopguide-extra-item .label { margin-left: -5em; }
.shopguide-extra-item.address p { margin-left: 5em; }
.shopguide-extra-compete { display: table; width: 100%; font-size: 12px; }
.shopguide-extra-compete > div { position: relative; display: table-cell; text-align: center; vertical-align: middle; }
.shopguide-extra-compete > div:first-child { border-right: 1px solid rgb(238, 238, 238); }
.shopguide-extra-compete > div + div { line-height: 2; }
.shopguide-extra-compete h2 { font-size: 28px; }
.shopguide-extra-delivery { margin-bottom: 10px; }
.shopguide-extra-delivery span { color: rgb(0, 137, 220); margin: 0px 5px; }
.shopguide-server { display: table-cell; padding-right: 100px; vertical-align: middle; color: rgb(255, 255, 255); text-align: right; width: 490px; }
.shopguide-server > span { display: inline-block; margin-left: 80px; vertical-align: top; text-align: center; }
.shopguide-server > span:first-child { margin-left: 0px; }
.shopguide-favor { position: absolute; top: 0px; right: 0px; padding: 10px 5px; width: 80px; text-align: center; background: rgba(255, 255, 255, 0.1) none repeat scroll 0% 0%; border-radius: 0px 0px 5px 5px; color: rgb(238, 238, 238); }
.shopguide-favor i { font-size: 20px; }
.shopguide-favor span { display: block; }
@media (min-width: 1260px) {
  .shopguide-server { width: 700px; }
}
.shopguide-server-value { display: block; margin-top: 12px; margin-bottom: 3px; font-size: 18px; }
.shopguide-tag::after, .shopguide-tag::before { content: ""; position: absolute; left: 100%; }
.shopguide-tag::before { top: 50%; border: 2px solid; z-index: 1; margin-top: -2px; margin-left: -2px; border-radius: 2px; }
.shopguide-tag::after { top: 0px; border-width: 11px; border-style: solid; border-color: transparent transparent transparent rgba(255, 255, 255, 0.2); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.shop-iteminfo { white-space: nowrap; min-height: 400px; }
.shop-iteminfo .iteminfo-imagegroup { white-space: normal; display: inline-block; vertical-align: top; margin-right: 30px; width: 360px; overflow: auto; }
.shop-iteminfo .iteminfo-imagegroup .mainimage { width: 360px; height: 360px; }
.shop-iteminfo .iteminfo-imagegroup .imagegroup-ctrl { float: left; height: 72px; width: 20px; border: 1px solid rgb(221, 221, 221); color: rgb(221, 221, 221); }
.shop-iteminfo .iteminfo-imagegroup .imagegroup-ctrl::before { position: relative; top: 25px; left: 4px; }
.shop-iteminfo .iteminfo-imagegroup .imagelist { float: left; vertical-align: top; height: 72px; width: 320px; overflow: hidden; }
.shop-iteminfo .iteminfo-imagegroup .imagelist li { display: inline-block; vertical-align: top; margin-left: 6px; }
.shop-iteminfo .iteminfo-imagegroup .imagelist li a { display: inline-block; width: 72px; height: 72px; border: 1px solid rgb(221, 221, 221); padding: 3px; }
.shop-iteminfo .iteminfo-imagegroup .imagelist li a.focus { background: rgb(0, 137, 220) none repeat scroll 0% 0%; }
.shop-iteminfo .iteminfo-imagegroup .imagelist li img { width: 64px; height: 64px; }
.shop-iteminfo .iteminfo-info { display: inline-block; vertical-align: top; white-space: normal; width: 430px; }
.shop-iteminfo .iteminfo-info h5 { font-size: 22px; color: rgb(51, 51, 51); margin-bottom: 0.5em; }
.shop-iteminfo .iteminfo-info .description { padding: 5px 0px; border-width: 1px 0px; border-style: dashed none; border-color: rgb(204, 204, 204) currentcolor; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; color: rgb(170, 170, 170); line-height: 1.8em; font-size: 13px; }
.shop-iteminfo .iteminfo-cartitem { position: relative; margin: 20px 0px 30px; height: 35px; }
.shop-iteminfo .iteminfo-cartitem .iteminfo-price { color: rgb(241, 117, 48); line-height: 1; padding-top: 5px; }
.shop-iteminfo .iteminfo-cartitem .iteminfo-price .price { font-size: 28px; font-weight: 800; }
.shop-iteminfo .iteminfo-cartitem .iteminfo-price .price .yen { font-size: 16px; }
.shop-iteminfo .iteminfo-cartitem .shop-cartbutton, .shop-iteminfo .iteminfo-cartitem .shop-cartctrl { bottom: 0px; right: 0px; width: 120px; height: 35px; }
.shop-iteminfo .iteminfo-rate .pagination > ul { float: none; }
.shop-iteminfo .iteminfo-rate h6 { font-size: 14px; color: rgb(170, 170, 170); border-bottom: 1px solid rgb(221, 221, 221); padding-bottom: 0.3em; }
.shop-iteminfo .iteminfo-rate .rategroup { font-size: 14px; padding-bottom: 10px; }
.shop-iteminfo .iteminfo-rate .rategroup li { position: relative; border-bottom: 1px solid rgb(221, 221, 221); padding: 18px 0px; color: rgb(153, 153, 153); }
.shop-iteminfo .iteminfo-rate .rategroup li .ratetext { padding-top: 5px; }
.shop-iteminfo .iteminfo-rate .rategroup li .rateuser { position: absolute; right: 0px; top: 15px; }
.shop-iteminfo .iteminfo-rate .rategroup li .rateuser span { vertical-align: middle; padding-right: 0.5em; }
.shop-iteminfo .iteminfo-rate .rategroup li .rateuser img { vertical-align: middle; width: 25px; height: 25px; border-radius: 50%; }
.shopmenu-nav { padding: 10px 15px 5px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); z-index: 101; }
.shopmenu-nav a { display: inline-block; margin: 5px; padding: 3px 10px; width: 18%; border-radius: 2px; color: rgb(102, 102, 102); white-space: nowrap; text-overflow: ellipsis; overflow: hidden; vertical-align: top; }
.shopmenu-nav a:hover { background-color: rgb(238, 238, 238); }
@media (min-width: 1260px) {
  .shopmenu-nav.sticky { width: 885px; }
}
@media (min-width: 1500px) {
  .shopmenu-nav.sticky { position: fixed; width: 130px; margin-left: -150px; border-width: medium 1px medium medium; border-style: none solid none none; border-color: currentcolor rgb(221, 221, 221) currentcolor currentcolor; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; box-shadow: none; background-color: transparent; white-space: normal; padding: 0px 10px 0px 0px; overflow-x: hidden; overflow-y: auto; }
  .shopmenu-nav.sticky a { position: relative; display: block; margin: 0px; padding: 15px 15px 15px 0px; width: auto; text-align: right; color: rgb(51, 51, 51); white-space: normal; font-size: 12px; overflow: visible; }
  .shopmenu-nav.sticky a:hover { background-color: transparent; color: rgb(0, 137, 220); }
  .shopmenu-nav.sticky a::after { content: ""; position: absolute; top: 50%; right: -4px; margin-top: -4px; width: 8px; height: 8px; background-color: rgb(221, 221, 221); border: 2px solid rgb(247, 247, 247); border-radius: 50%; }
  .shopmenu-nav.sticky a.active { background-color: transparent; color: rgb(0, 137, 220); font-size: 14px; }
  .shopmenu-nav.sticky a.active:hover { background-color: transparent; }
  .shopmenu-nav.sticky a.active::after { font-family: eleme; content: ""; border: medium none; background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px; margin-top: -14px; font-size: 16px; }
}
.shopmenu-title { padding: 20px 0px 10px 15px; font-size: 20px; }
.shopmenu-title span { font-size: 12px; color: rgb(153, 153, 153); }
.shopmenu-food-name, .shopmenu-food-price { font-size: 14px; font-weight: 700; }
.shopmenu-food-price::before { content: "¥"; margin-right: 3px; font-size: 12px; }
.shopmenu-food-price small { margin-left: 3px; font-size: 12px; }
.shopmenu-main.grid .shopmenu-list { width: 102%; }
.shopmenu-main.grid .shopmenu-food { position: relative; float: left; margin-right: 2%; padding-right: 10px; width: 48%; }
.shopmenu-main.grid .shopmenu-food img { float: left; margin-right: 14px; width: 100px; height: 100px; }
.shopmenu-main.grid .shopmenu-food-name { margin-top: 10px; }
.shopmenu-main.grid .shopmenu-food-price { position: absolute; bottom: 10px; }
.shopmenu-main.list .shopmenu-food .shopmenu-food-price::before { color: rgb(153, 153, 153); }
.shopmenu-food { margin-bottom: 12px; font-size: 12px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); height: 102px; }
.shopmenu-food.noimg { padding-left: 15px !important; }
.shopnav { line-height: 57px; background-color: rgb(255, 255, 255); }
.shopnav-left { float: left; width: 75%; }
.shopnav-tab { position: relative; display: inline-block; vertical-align: middle; color: rgb(51, 51, 51); font-size: 16px; width: 102px; text-align: center; }
.shopnav-tab + .shopnav-tab::before, .shopnav-tab.active::after { content: ""; position: absolute; left: 0px; }
@media (min-width: 1260px) {
  .shopnav-tab { width: 112px; }
}
.shopnav-tab.active { color: rgb(0, 137, 220); }
.shopnav-tab.active::after { right: 0px; bottom: 0px; border-top: 3px solid; }
.shopnav-tab + .shopnav-tab::before { top: 50%; margin-top: -7px; height: 14px; width: 1px; background-color: rgb(204, 204, 204); }
.shopnav-filter { float: right; }
.shopnav-filter > a { display: inline-block; padding: 0px 10px; line-height: 1; border-left: 1px solid rgb(238, 238, 238); color: rgb(51, 51, 51); }
.shopnav-filter > a:first-child { border-left: medium none; }
.shopnav-filter > a.active, .shopnav-filter > a.active [class^="icon-"] { color: rgb(0, 137, 220); }
@media (min-width: 1260px) {
  .shopnav-filter > a { padding: 0px 15px; }
}
.shopnav-filter [class^="icon-"] { vertical-align: middle; color: rgb(153, 153, 153); }
.shopnav-filter-display { position: relative; margin-left: -5px; padding: 8px; border: 1px solid rgb(221, 221, 221); color: rgb(153, 153, 153); }
.shopnav-filter-display.active { background-color: rgb(0, 137, 220); border-color: rgb(0, 137, 220); color: rgb(255, 255, 255); z-index: 1; }
.shopnav-search { float: right; line-height: normal; }
.shopnav-search .place-search-input { transition: none 0s ease 0s ; width: 166px; }
.shopnav-search .place-search-input:focus { width: 166px; }
@media (min-width: 1260px) {
  .shopnav-search .place-search-input, .shopnav-search .place-search-input:focus { width: 216px; }
}
.sidetools { position: fixed; right: 0px; top: 0px; bottom: 0px; height: 166px; margin: auto; z-index: 10; }
@media (max-height: 500px) {
  .sidetools { display: none; }
}
.sidetools-item { border: 1px solid rgb(235, 235, 235); margin-bottom: -1px; width: 40px; line-height: 38px; font-size: 18px; text-align: center; background-color: rgb(249, 249, 249); color: rgb(136, 136, 136); display: block; }
.sidetools-item.icon-arrow-up { margin-top: 5px; }
.sidetools-item:hover { color: rgb(244, 69, 72); cursor: pointer; }
.sidetools-item:hover .sidetools-qrcode { display: block; }
.sidetools-qrcode { width: 136px; height: 136px; position: absolute; top: 50%; margin-top: -68px; left: -140px; display: none; }
.shopmain { margin-top: 20px; }
.shopinfo, .shopmenu, .shoprate { float: left; width: 75%; }
.shopmain-right { float: right; width: 23.6%; }
